.guideBlock__container {
	width: 100%;
	height: 410px;
	max-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.guideBlock__intro_container {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-bottom: 20px;
}

.guideBlock__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #2d3748;
}

.guideBlock__intro_text {
	color: #2d3748;
	line-height: 14px;
	font-size: 12px;
}

.guideBlock__guideContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.guideCards__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 196px;
}

.guideBlock__guideCard {
	background-color: #f5f5f5;
	border-radius: 10px;
	width: 100%;
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
}

.guideCard_decorate {
	width: 0;
	height: 0;
}

.guideCard__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	width: 22px;
	height: 22px;
}

.guideCard__number {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
	min-width: 24px;
	min-height: 36px;
	font-size: 20px;
	line-height: 36px;
	font-weight: 600;
	color: #553c9a;
}

.guideCard__details {
	padding-left: 58px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #2d3748;
	padding-right: 58px;
	&::before {
		content: "";
		position: absolute;
		display: inline-block;
		top: 50%;
		transform: translateY(-50%);
		left: 46px;
		width: 0px;
		height: 22px;
		opacity: 1;
		border: 1px solid #e9d8fd;
	}
}

.contacts__container {
	display: flex;
	width: 100%;
	height: 40px;
	gap: 4px;
	margin-top: 10px;
}

.contacts__button {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	border-radius: 8px;
	gap: 6px;
	&:first-of-type {
		background-color: #4299e1;
	}
	&:last-of-type {
		background-color: #48bb78;
	}
}

.contacts__icon {
	width: 16px;
	height: 16px;
}

.guideBlock__importantDetail {
	max-width: 270px;
	height: 42px;
	font-size: 10px;
	font-weight: 600;
	line-height: 14px;
	color: #a0aec0;
}

@media (min-width: 1440px) and (max-width: 1919.9px) {
	.guideBlock__container {
		width: 100%;
		height: 538px;
		max-width: 990px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.guideBlock__intro_container {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 0 auto;
		width: 458px;
		height: 144px;
		margin-bottom: 20px;
		text-align: center;
	}

	.guideBlock__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 40px;
		color: #2d3748;
		height: 60%;
	}

	.guideBlock__intro_text {
		color: #2d3748;
		line-height: 26px;
		font-size: 18px;
		height: 40%;
		width: calc(100% - 75px);
		margin: 0 auto;
	}

	.guideBlock__guideContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background: #7180960f;
		border-radius: 20px;
		width: 100%;
		height: 374px;
		align-items: center;
		justify-content: center;
	}

	.guideCards__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 910px;
		height: 142px;
	}

	.guideBlock__guideCard {
		background-color: white;
		border: 1px solid #e5e5e5;
		border-radius: 16px;
		width: 290px;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 24px 20px;
	}

	.guideCard_decorate {
		width: 250px;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.guideCard__icon {
		position: static;
		align-self: center;
		transform: translateY(0);
		width: 40px;
		height: 40px;
	}

	.guideCard__number {
		position: static;
		transform: translateY(0);
		min-width: 35px;
		min-height: 40px;
		font-size: 32px;
		line-height: 40px;
		font-weight: 700;
		color: #553c9a;
		text-align: center;
	}

	.guideCard__details {
		padding-left: 0;
		padding-right: 0;

		font-size: 18px;
		line-height: 22px;
		font-weight: 600;
		color: #2d3748;
		align-self: flex-start;
		&::before {
			content: none;
		}
	}

	.contacts__container {
		display: flex;
		width: 566px;
		height: 72px;
		gap: 10px;
		margin: 0;
	}

	.contacts__button {
		text-decoration: none;
		color: white;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		border-radius: 12px;
		gap: 10px;
		&:first-of-type {
			background-color: #4299e1;
		}
		&:last-of-type {
			background-color: #48bb78;
		}
	}

	.contacts__icon {
		width: 32px;
		height: 32px;
	}

	.guideBlock__importantDetail {
		max-width: 553px;
		height: 40px;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
	}
}

@media (max-width: 1439px) and (min-width: 768px) {
	.guideBlock__container {
		width: 100%;
		height: 434px;
		max-width: 660px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.guideBlock__intro_container {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 0 auto;
		width: 422px;
		height: 120px;
		margin-bottom: 20px;
		text-align: center;
	}

	.guideBlock__title {
		font-size: 28px;
		font-weight: 700;
		line-height: 36px;
		color: #2d3748;
		height: 60%;
	}

	.guideBlock__intro_text {
		color: #2d3748;
		line-height: 18px;
		font-size: 14px;
		height: 40%;
		width: calc(100% - 40px);
		margin: 0 auto;
	}

	.guideBlock__guideContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background: #7180960f;
		border-radius: 20px;
		width: 100%;
		height: 294px;
		align-items: center;
		justify-content: center;
	}

	.guideCards__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 620px;
		height: 130px;
	}

	.guideBlock__guideCard {
		background-color: white;
		border: 1px solid #e5e5e5;
		border-radius: 12px;
		width: 198px;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
	}

	.guideCard_decorate {
		width: 167px;
		height: 36px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.guideCard__icon {
		position: static;
		align-self: center;
		transform: translateY(0);
		width: 32px;
		height: 32px;
	}

	.guideCard__number {
		position: static;
		transform: translateY(0);
		min-width: 30px;
		min-height: 36px;
		font-size: 28px;
		line-height: 36px;
		font-weight: 700;
		color: #553c9a;
		text-align: center;
	}

	.guideCard__details {
		padding-left: 0;
		padding-right: 0;

		font-size: 14px;
		line-height: 16px;
		font-weight: 600;
		color: #2d3748;
		align-self: flex-start;
		&::before {
			content: none;
		}
	}

	.contacts__container {
		display: flex;
		width: 368px;
		height: 48px;
		gap: 6px;
		margin: 0;
	}

	.contacts__button {
		text-decoration: none;
		color: white;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		border-radius: 10px;
		gap: 10px;
		&:first-of-type {
			background-color: #4299e1;
		}
		&:last-of-type {
			background-color: #48bb78;
		}
	}

	.contacts__icon {
		width: 24px;
		height: 24px;
	}

	.guideBlock__importantDetail {
		max-width: 520px;
		height: 36px;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}
}

@media (min-width: 1920px) {
	.guideBlock__container {
		width: 100%;
		height: 538px;
		max-width: 990px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	.guideBlock__intro_container {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin: 0 auto;
		width: 458px;
		height: 144px;
		margin-bottom: 20px;
		text-align: center;
	}

	.guideBlock__title {
		font-size: 31px;
		font-weight: 700;
		line-height: 40px;
		color: #2d3748;
		height: 60%;
	}

	.guideBlock__intro_text {
		color: #2d3748;
		line-height: 26px;
		font-size: 18px;
		height: 40%;
		width: calc(100% - 75px);
		margin: 0 auto;
	}

	.guideBlock__guideContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background: #7180960f;
		border-radius: 20px;
		width: 100%;
		height: 374px;
		align-items: center;
		justify-content: center;
	}

	.guideCards__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 910px;
		height: 142px;
	}

	.guideBlock__guideCard {
		background-color: white;
		border: 1px solid #e5e5e5;
		border-radius: 16px;
		width: 290px;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 24px 20px;
	}

	.guideCard_decorate {
		width: 250px;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.guideCard__icon {
		position: static;
		align-self: center;
		transform: translateY(0);
		width: 40px;
		height: 40px;
	}

	.guideCard__number {
		position: static;
		transform: translateY(0);
		min-width: 35px;
		min-height: 40px;
		font-size: 32px;
		line-height: 40px;
		font-weight: 700;
		color: #553c9a;
		text-align: center;
	}

	.guideCard__details {
		padding-left: 0;
		padding-right: 0;

		font-size: 17px;
		line-height: 22px;
		font-weight: 600;
		color: #2d3748;
		align-self: flex-start;
		line-clamp: 2;
		&::before {
			content: none;
		}
	}

	.contacts__container {
		display: flex;
		width: 566px;
		height: 72px;
		gap: 10px;
		margin: 0;
	}

	.contacts__button {
		text-decoration: none;
		color: white;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		border-radius: 12px;
		gap: 10px;
		&:first-of-type {
			background-color: #4299e1;
		}
		&:last-of-type {
			background-color: #48bb78;
		}
	}

	.contacts__icon {
		width: 32px;
		height: 32px;
	}

	.guideBlock__importantDetail {
		max-width: 570px;
		height: 40px;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
	}
}
