.favouritesPage__wrapper {
	position: relative;
	min-height: 80svh;
}
.favouritesPage {
	margin: 0 auto;
	margin-top: 76px;
	margin-bottom: 60px;
	width: 320px;
	display: flex;
	flex-direction: column;
}
.options {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80px;
	gap: 14px;
}
.favouritesPage__header {
	display: flex;
	gap: 12px;
	align-items: center;
}
.goBack {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #71809614;
	border-radius: 10px;
	border: 0;
}
.goBack__img {
	color: #2d3748;
}
.favouritesPage__title {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}

.tab {
	width: 50%;
	height: 100%;
	background-color: #edf2f7;
	border-radius: 6px;
	border: 0;
	font-size: 10px;
	color: #a0aec0;
}
.activeTab {
	background-color: #cbd5e0;
	color: #1a202c;
	font-weight: 600;
}
.tabs__container {
	display: flex;
	min-width: 260px;
	min-height: 30px;
	gap: 6px;
}
@media (min-width: 768px) and (max-width: 1439.99px) {
	.favouritesPage {
		margin: 0 auto;
		margin-top: 94px;
		margin-bottom: 124px;
		width: 660px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.options {
		flex-direction: row;
		width: 100%;
		height: 40px;
		gap: 0;
		justify-content: space-between;
		align-items: center;
	}
	.favouritesPage__header {
		display: flex;
		gap: 12px;
		align-items: center;
	}
	.goBack {
		width: 40px;
		height: 40px;

		border-radius: 8px;
	}
	.goBack__img {
		color: #2d3748;
	}
	.favouritesPage__title {
		font-size: 24px;
	}

	.tab {
		display: flex;
		justify-content: center;
		align-items: center;
		width: max-content;
		padding: 8px 30px;
		font-size: 12px;
	}

	.tabs__container {
		min-width: 240px;
		width: max-content;
		height: 30px;
		gap: 6px;
	}
}

@media (min-width: 1440px) {
	.favouritesPage {
		margin: 0 auto;
		margin-top: 160px;
		margin-bottom: 60px;
		width: 1240px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.options {
		flex-direction: row;
		width: 100%;
		height: 42px;
		gap: 0;
		justify-content: space-between;
		align-items: center;
	}
	.favouritesPage__header {
		display: flex;
		gap: 0;
		align-items: center;
	}
	.goBack {
		display: none;
	}
	.goBack__img {
		color: #2d3748;
	}
	.favouritesPage__title {
		font-size: 28px;
		font-weight: 700;
	}

	.tab {
		display: flex;
		justify-content: center;
		align-items: center;
		width: max-content;
		padding: 12px 32px;
		font-size: 14px;
		border-radius: 10px;
	}

	.tabs__container {
		min-width: 267px;
		width: max-content;
		height: 42px;
		gap: 6px;
	}
	.activeTab {
	}
}
