.content > * {
	width: 100%;
	text-align: center;
}
.accordion {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center; /* или left, если надо */
	background: none;
	border: none;
	padding: 10px 0;
	font-size: 16px;
	cursor: pointer;
}

.title {
	flex-grow: 1;
	text-align: center;
}

.arrowWrapper {
	position: absolute;
	right: 8px;
	top: 50%;
	width: 16px;
	height: 16px;
	transform: translateY(-50%);
	transition: transform 0.3s ease;
}

.rotate {
	transform: translateY(-50%) rotate(180deg);
}

.content {
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
	max-height: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.open {
	max-height: 500px;
	opacity: 1;
	margin-top: 8px;
}

.open > * {
	width: 100%;
	align-self: center;
}

.closed {
	max-height: 0;
	opacity: 0;
}
