.header {
	position: fixed;
	width: 100%;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 12px 0px #00000014;
	z-index: 100;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
}

.headerAddedCatalog {
	width: 100%;
	padding: 0 16px;
	display: flex;
	align-items: center;
}
.mobile__container {
	width: 100%;
	min-width: 320px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mobile__changeLanguage {
	font-weight: 600;
	width: 50px;
	height: 18px;
}
.logo__container {
	width: 32px;
	height: 32px;
	background-color: #efefef;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.phoneLogo {
	width: 18px;
	height: 18px;
}

.hidden {
	display: none;
}
.catalog__searchContainer {
	display: flex;
	flex-grow: 1;
	align-self: center;
	height: 100%;

	position: relative;
}
.catalogInput {
	background-color: #7180960f;
	width: 100%;
	height: 100%;
	margin: 0 12px;
	padding: 6px 12px 6px 32px;
	border: 0;
	color: #a0aec0;
	border-radius: 10px;
	border-width: 2px solid #7180965c;
	::placeholder {
		color: #a0aec0;
	}
}
.catalog__searchIcon {
	width: 16px;
	height: 16px;
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
	color: #a0aec0;
}
.catalog__clearIcon {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: black;
	z-index: 1999;
	display: flex;
	align-items: center;
	justify-content: center;
}
