.similarOffersRentCard__container {
	width: 220px;
	height: 300px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 1px 3px 0px #0000000d, 0px 5px 5px 0px #0000000a,
		0px 10px 6px 0px #00000008, 0px 18px 7px 0px #00000003,
		0px 29px 8px 0px #00000000;
	border: 1px solid #e5e5e5;
}
.image {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	height: 120px;
}

.card__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px;
}
.info__container {
	display: flex;
	flex-direction: column;
	gap: inherit;
	gap: 6px;
	cursor: pointer;
}
.card__title {
	color: #a0aec0;
	font-size: 12px;
	font-weight: 400;
}
.card__price {
	color: #000000;
	font-weight: 700;
	font-size: 20px;
	font-weight: 700;
}
.card__detail {
	font-size: 12px;
	font-weight: 700;
	color: #2d3748;
}

.card__breadcrumbs {
	color: #a0aec0;
	font-size: 10px;

	font-weight: 600;
	text-decoration: none;
}
.card__breadcrumbs a {
	color: inherit;
	text-decoration: inherit;
}

.card__separator {
	margin: 0 4px;
}

.button__container {
	height: 32px;
	margin-top: 14px;
}
.phone {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: #f1e6ff;
	border-radius: 10px;
}
.phoneIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	color: white;
}
.whatsApp {
	display: flex;
	flex-grow: 1;
	background-color: #68d391;
	color: white;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
}
.iconRowTablet {
	display: none;
}
/* START COMPLEX STYLES*/
.similarOffersComplexCard__container {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0px 1px 3px 0px #0000000d, 0px 5px 5px 0px #0000000a,
		0px 10px 6px 0px #00000008, 0px 18px 7px 0px #00000003,
		0px 29px 8px 0px #00000000;
	border: 1px solid #e5e5e5;
}
.imageComplex {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 120px;
	width: 100%;
}
.info__containerComplex {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 12px;
}
.cardComplex__content {
	padding: 12px;
}
.button__containerComplex {
	display: flex;
	width: 100%;
	margin-top: 6px;
	height: 32px;
}
.card__titleComplex {
	font-size: 12px;
	min-height: 42px;
	color: #a0aec0;
	font-weight: 400;
	white-space: wrap !important;
	flex-wrap: wrap;
}
.card__detailComplex {
	font-size: 12px;
	font-weight: 700;
	color: #2d3748;
}

@media (min-width: 768px) and (max-width: 1439.9px) {
	.iconRowPhone {
		display: none;
	}
	.iconRowTablet {
		display: block;
	}
	.similarOffersRentCard__container {
		width: 320px;
		height: 400px;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0px 1px 3px 0px #0000000d;
		box-shadow: 0px 5px 5px 0px #0000000a;
		box-shadow: 0px 10px 6px 0px #00000008;
		box-shadow: 0px 18px 7px 0px #00000003;
		box-shadow: 0px 29px 8px 0px #00000000;
		border: 1px solid #e5e5e5;
	}
	.image {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		width: 100%;
		height: 180px;
	}

	.card__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
		gap: 6px;
	}
	.card__title {
		color: #a0aec0;
		font-size: 14px;
		font-weight: 400;
	}
	.card__price {
		color: #000000;
		font-weight: 700;
		font-size: 24px;
		font-weight: 700;
	}
	.card__detail {
		font-size: 14px;
		font-weight: 700;
		color: #2d3748;
	}

	.card__breadcrumbs {
		color: #a0aec0;
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
	}
	.card__breadcrumbs a {
		color: inherit;
		text-decoration: inherit;
	}

	.card__separator {
		margin: 0 4px;
	}

	.phone {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		background-color: #f1e6ff;
		border-radius: 10px;
	}
	.phoneIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		color: white;
	}
	.whatsApp {
		display: flex;
		flex-grow: 1;
		background-color: #68d391;
		color: white;
		border-radius: 10px;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-weight: 700;
		font-size: 16px;
	}
	.button__container {
		height: 42px;
	}

	.imageComplex {
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		height: 180px;
	}
	.info__containerComplex {
		gap: 10px;
		margin-bottom: 16px;
	}
	.cardComplex__content {
		padding: 16px;
	}
	.button__containerComplex {
		display: flex;
		height: 42px;
	}
	.card__titleComplex {
		font-size: 12px;
		min-height: 30px;
		width: 65%;
		color: #a0aec0;
		font-weight: 400;
		white-space: wrap !important;
		flex-wrap: wrap;
	}
	.card__detailComplex {
		font-size: 18px;
	}
}
@media (min-width: 1440px) {
	.iconRowPhone {
		display: none;
	}
	.iconRowTablet {
		display: block;
	}
	.similarOffersRentCard__container {
		width: 385px;
		height: 434px;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0px 1px 3px 0px #0000000d;
		box-shadow: 0px 5px 5px 0px #0000000a;
		box-shadow: 0px 10px 6px 0px #00000008;
		box-shadow: 0px 18px 7px 0px #00000003;
		box-shadow: 0px 29px 8px 0px #00000000;
		border: 1px solid #e5e5e5;
	}
	.image {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		width: 100%;
		height: 180px;
	}

	.card__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		gap: 6px;
	}
	.card__title {
		color: #a0aec0;
		font-size: 16px;
		font-weight: 400;
	}
	.card__price {
		color: #000000;
		font-weight: 700;
		font-size: 28px;
		font-weight: 700;
	}
	.card__detail {
		font-size: 16px;
		font-weight: 700;
		color: #2d3748;
	}

	.card__breadcrumbs {
		color: #a0aec0;
		font-size: 16px;
		font-weight: 400;
		text-decoration: none;
	}
	.card__breadcrumbs a {
		color: inherit;
		text-decoration: inherit;
	}

	.card__separator {
		margin: 0 4px;
	}

	.phone {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 54px;
		height: 54px;
		background-color: #f1e6ff;
		border-radius: 10px;
	}
	.phoneIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		color: white;
	}
	.whatsApp {
		display: flex;
		flex-grow: 1;
		background-color: #68d391;
		color: white;
		border-radius: 10px;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-weight: 700;
		font-size: 18px;
	}
	.button__container {
		height: 54px;
	}
	.imageComplex {
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		height: 200px;
	}
	.info__containerComplex {
		gap: 14px;
		margin-bottom: 20px;
	}
	.cardComplex__content {
		padding: 20px;
	}
	.button__containerComplex {
		display: flex;
		height: 42px;
		width: 100%;
	}
	.card__titleComplex {
		font-size: 14px;
		min-height: 40px;
		width: 72%;
		color: #a0aec0;
		font-weight: 400;
		white-space: wrap !important;
		flex-wrap: wrap;
	}
	.card__detailComplex {
		font-size: 18px;
	}
}
