.listingGranted__container,
.listingGranted__containerRent {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 10px;
	background-color: #71809614;
	height: 312px;
	padding: 16px 24px 24px 24px;
}

.listingGranted__title_PC,
.listingGranted__title_PCRent {
	display: none;
}

.listingGranted__title,
.listingGranted__titleRent {
	color: #a0aec0;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 4px;
}

.listingGranted__card,
.listingGranted__cardRent {
	display: flex;
	flex-direction: column;
}

.agent__container,
.agent__containerRent {
	display: flex;
	align-items: center;
	gap: 15px;
	flex-wrap: nowrap;
}

.agent__icon,
.agent__iconRent {
	width: 100px;
	height: 100px;
}

.agent__info,
.agent__infoRent {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 160px;
	max-height: 75px;
}

.agent__name,
.agent__nameRent {
	margin: 0;
	color: #2d3748;
	font-size: 20px;
	font-weight: 700;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.agent__status,
.agent__statusRent {
	display: flex;
	align-items: center;
	color: #2d3748;
	font-size: 12px;
	margin-top: 8px;
}

.statusImage,
.statusImageRent {
	width: 12px;
	height: 12px;
	background-color: #48bb78;
	border-radius: 50%;
	margin-right: 6px;
}

.agent__params,
.agent__paramsRent {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	color: #718096;
	font-size: 14px;
}

.agent__data__container,
.agent__data__containerRent {
}

.agent__data,
.agent__dataRent {
	color: #2d3748;
}

.toAllOffers,
.toAllOffersRent {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	height: 44px;
	width: 100%;
	background-color: #2d3748;
	color: white;
	border-radius: 10px;
	text-decoration: none;
}

.buttons,
.buttonsRent {
	display: none;
	gap: 8px;
	width: 100%;
}

.listingGranted__desktop_phone,
.listingGranted__desktop_phoneRent {
	width: 60px;
	height: 52px;
	background-color: #2d3748;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 10px;
}

.listingGranted__desktop_icon,
.listingGranted__desktop_iconRent {
	width: 24px;
	height: 24px;
}

.listingGranted__desktop_whatsapp,
.listingGranted__desktop_whatsappRent {
	background-color: #48bb78;
	color: white;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	border: 0;
	border-radius: 10px;
	text-decoration: none;
}

.agent__data__containerRent {
	color: #a3a3a3;
}
.agent__dataRent {
	color: #121212;
}
.agent__nameRent {
	color: #000000;
}
.listingGranted__titleRent {
	color: #000000;
}
.toAllOffersRent {
	background-color: #0a1137;
	font-size: 14px;
	font-weight: 600;
	color: white;
}
@media (min-width: 768px) and (max-width: 1439.9px) {
	.listingGranted__container {
		display: flex;
		width: 100%;
		border-radius: 10px;
		background-color: #71809614;
		height: 266px;
		padding: 24px 32px 32px 32px;
	}
	.listingGranted__title {
		color: #a0aec0;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 8px;
	}
	.listingGranted__card {
		display: flex;
		flex-direction: row;
		gap: 30px;
		padding: 8px;
	}
	.agent__container {
		display: flex;
		align-items: center;
		gap: 15px;
		flex-wrap: nowrap;
	}
	.agent__icon {
		width: 100px;
		height: 100px;
	}
	.agent__info {
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 160px;
		max-height: 80px;
	}
	.agent__name {
		margin: 0;
		color: #2d3748;
		font-size: 24px;
		font-weight: 700;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.agent__status {
		display: flex;
		align-items: center;
		color: #2d3748;
		font-size: 12px;
	}
	.statusImage {
		width: 12px;
		height: 12px;
		background-color: #48bb78;
		border-radius: 50%;
		margin-right: 6px;
	}
	.agent__params {
		margin: auto 0;
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: #718096;
		font-size: 16px;
	}
	.toAllOffers {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 21px;
		height: 44px;
		width: 100%;
		background-color: #2d3748;
		color: white;
		border-radius: 10px;
		text-decoration: none;
	}
	.listingGranted__cardRent {
		display: flex;
		flex-direction: row;
	}
	.listingGranted__containerRent {
		height: 250px;
		padding: 16px;
	}
	.listingGranted__titleRent {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.agent__paramsRent {
		font-size: 16px;
	}
	.agent__dataRent {
		color: #121212;
		font-weight: 700;
	}
}

@media (min-width: 1440px) and (max-width: 1919.9px) {
	.listingGranted__container {
		display: flex;
		width: 100%;
		border-radius: 10px;
		background-color: #71809614;
		height: 266px;
		padding: 24px 32px 32px 32px;
	}
	.listingGranted__title {
		color: #a0aec0;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 8px;
	}
	.listingGranted__card {
		display: flex;
		flex-direction: row;
		gap: 30px;
		padding: 8px;
	}
	.agent__container {
		display: flex;
		align-items: center;
		gap: 15px;
		flex-wrap: nowrap;
	}
	.agent__icon {
		width: 100px;
		height: 100px;
	}
	.agent__info {
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 160px;
		max-height: 80px;
	}
	.agent__name {
		margin: 0;
		color: #2d3748;
		font-size: 24px;
		font-weight: 700;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.agent__status {
		display: flex;
		align-items: center;
		color: #2d3748;
		font-size: 12px;
	}
	.statusImage {
		width: 12px;
		height: 12px;
		background-color: #48bb78;
		border-radius: 50%;
		margin-right: 6px;
	}
	.agent__params {
		margin: auto 0;
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: #718096;
		font-size: 16px;
	}
	.toAllOffers {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 21px;
		height: 44px;
		width: 100%;
		background-color: #2d3748;
		color: white;
		border-radius: 10px;
		text-decoration: none;
	}
	.listingGranted__containerRent {
		position: absolute;
		top: 0;
		left: calc(100% + 60px);
		width: 390px;
		height: 370px;
		padding: 20px;
	}
	.listingGranted__titleRent {
		color: #121212;
		font-weight: 700;
		font-size: 28px;
		margin-bottom: 20px;
	}
	.agent__containerRent {
		width: 350px;
		gap: 12px;
		margin-bottom: 20px;
	}
	.agent__paramsRent {
		margin: 0;
		font-size: 14px;
		color: #121212;
	}
	.agent__dataRent {
		color: #121212;
		font-weight: 700;
		font-size: 18px;
	}
	.toAllOffersRent {
		height: 50px;
	}
}

@media (min-width: 1920px) {
	.listingGranted__container {
		position: absolute;
		top: 0;
		left: calc(100% + 16px);
		display: flex;
		width: 390px;
		border-radius: 10px;
		background-color: #71809614;
		align-items: center;
		height: 426px;
		padding: 24px 32px 32px 32px;
	}
	.buttons {
		display: flex;
	}
	.listingGranted__title {
		display: none;
	}
	.listingGranted__title_PC {
		display: block;
		color: #a0aec0;
		font-weight: 600;
		font-size: 12px;
	}
	.listingGranted__card {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 8px;
	}
	.agent__container {
		display: flex;
		align-items: center;
		gap: 15px;
		flex-wrap: nowrap;
		height: 110px;
	}
	.agent__icon {
		width: 120px;
		height: 120px;
	}
	.agent__info {
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 174px;
		min-height: 88px;
	}
	.agent__name {
		margin: 0;
		color: #2d3748;
		font-size: 20px;
		font-weight: 700;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.agent__status {
		display: flex;
		align-items: center;
		color: #2d3748;
		font-size: 12px;
	}
	.statusImage {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		margin-right: 6px;
	}
	.agent__params {
		margin: auto 0;
		display: flex;
		flex-direction: column;
		gap: 4px;
		color: #718096;
		font-size: 16px;
	}
	.toAllOffers {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 32px;
		height: 44px;
		width: 100%;
		background-color: #ffffff;
		color: #2d3748;
		border-radius: 10px;
		text-decoration: none;
		font-size: 16px;
		font-weight: 700;
	}
}
