@font-face {
	font-family: "Manrope";
	src: url("/public/fonts/Manrope/Manrope-VariableFont_wght.ttf")
		format("ttf");
	font-weight: 400 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Nunito";
	src: url("/public/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("ttf");
	font-weight: 400 800;
	font-style: normal;
	font-display: swap;
}
*,
footer,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: max-content;
	font-family: "Manrope", sans-serif;
	display: flex;
	flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	user-select: none;
}

input,
button,
textarea,
select {
	font: inherit;
	user-select: none;
}
