.location__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 16px;
}

.location__title {
	font-weight: 700;
}

.location__details {
	display: flex;
	position: relative;
	object-fit: cover;
}

.bgImage {
	width: 100%;
	border-radius: 10px;
	z-index: -1;
}

.location__data_container {
	position: absolute;
	flex-direction: column;
	border-radius: 10px;
}

.location__text_container {
	padding: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.location__data__wrapper {
	display: flex;
	align-items: center;
}

.location__data {
	display: flex;
	flex-direction: column;
}

.location__icon {
	width: 50px;
	height: 50px;
}

.location__country {
	text-decoration: none;
}

.card__breadcrumbs {
	display: flex;
	align-items: center;
}
.card__breadcrumbs a {
	text-decoration: none;
}

.card__separator {
	margin: 0 4px;
}

.checkOnMap {
	text-decoration: none;
	display: flex;
	align-items: center;
	font-weight: 700;
}
.checkOnMap__arrow {
	text-decoration: none;
	margin-left: 8px;
}

.mapIconButton {
	display: none;
}
.mapIconForTablet {
	width: 26px;
	height: 26px;
}

.location__containerSell {
	gap: 16px;
}
.location__titleSell {
	color: #1a202c;
	font-size: 24px;
}
.location__detailsSell {
	height: 191px;
}

.location__data_containerSell {
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	background-color: #ffffffcc;
}

.location__data__wrapperSell {
	gap: 14px;
}
.location__dataSell {
	gap: 4px;
}

.location__countrySell {
	color: #4a5568;
	font-size: 18px;
}

.card__breadcrumbsSell {
}
.card__breadcrumbsSell a {
	color: #4a5568;
	font-size: 18px;
}
.card__separatorSell {
	margin: 0 4px;
}

.checkOnMapSell {
	color: #2d3748;
	font-size: 20px;
}
.checkOnMap__arrowSell {
	color: #2d3748;
	font-size: 20px;
}

.location__containerRent {
	gap: 16px;
}
.location__titleRent {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}
.location__detailsRent {
	width: 100%;
	height: 132px;
	position: relative;
}

.bgImageRent {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.location__data_containerRent {
	left: 12px;
	top: 12px;
	right: 12px;
	bottom: 12px;
	background: linear-gradient(
		97.58deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(255, 255, 255, 0.4) 100%
	);
	backdrop-filter: blur(8px);
	border-radius: 10px;
}

.location__text_containerRent {
	display: flex;
	flex-direction: column;
	padding: 12px;
	gap: 24px;
}
.location__data__wrapperRent {
	display: flex;
	gap: 4px;
}
.location__dataRent {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.location__iconRent {
	width: 44px;
	height: 44px;
}
.location__countryRent {
	font-size: 14px;
	color: #2d3748;
}

.card__breadcrumbsRent {
	color: #2d3748;
	font-size: 14px;
}
.card__breadcrumbsRent a {
	text-decoration: none;
	color: inherit;
}
.card__separatorRent {
	margin: 0 8px;
}

.checkOnMapRent {
	text-decoration: none;
	color: #2d3748;
	font-size: 16px;
}
.checkOnMap__arrowRent {
	margin-left: 8px;
}

@media (min-width: 768px) {
	.location__containerRent {
		gap: 24px;
	}

	.location__detailsRent {
		height: 300px;
	}

	.location__data_containerRent {
		left: 20px;
		bottom: 20px;
		right: 20px;
		top: unset;
		background: transparent;
		backdrop-filter: unset;
		flex-direction: row;
	}

	.location__text_containerRent {
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		gap: 6px;
		height: 50px;
		align-items: center;
	}

	.location__data__wrapperRent {
		gap: 4px;
		align-items: center;
	}
	.location__dataRent {
		gap: 6px;
	}

	.mapIconButton {
		border-radius: 10px;
		display: flex;
		width: 50px;
		height: 50px;
		justify-content: center;
		align-items: center;
		background: linear-gradient(
			97.58deg,
			rgba(140, 140, 140, 0.5) 0%,
			rgba(140, 140, 140, 0.3) 100%
		);
		border-image-source: linear-gradient(
			97.58deg,
			#ffffff 0%,
			rgba(255, 255, 255, 0) 35%,
			rgba(255, 255, 255, 0) 65%,
			#ffffff 100%
		);
		box-shadow: 0px 2px 12px 0px #00000033;
		backdrop-filter: blur(8px);
		border: 1px solid white;
	}
	.location__iconRent {
		display: none;
	}
	.location__countryRent {
		display: none;
	}

	.card__breadcrumbsRent {
		color: #2d3748;
		font-size: 14px;
		border-radius: 10px;
		padding: 16px;
		background: linear-gradient(
			97.58deg,
			rgba(140, 140, 140, 0.5) 0%,
			rgba(140, 140, 140, 0.3) 100%
		);
		border-image-source: linear-gradient(
			97.58deg,
			#ffffff 0%,
			rgba(255, 255, 255, 0) 35%,
			rgba(255, 255, 255, 0) 65%,
			#ffffff 100%
		);
		box-shadow: 0px 2px 12px 0px #00000033;
		backdrop-filter: blur(8px);
		border: 1px solid white;
		color: #ffffff;
	}

	.checkOnMapRent {
		color: #2d3748;
		font-size: 16px;
		font-weight: 700;
		border-radius: 10px;
		padding: 16px;
		background-color: #ffffff;
		border: none;
		color: black;
	}
}
@media (min-width: 768px) and (max-width: 1439.9px) {
	.location__titleRent {
		font-size: 24px;
	}
}
@media (min-width: 1440px) {
	.location__titleRent {
		font-size: 28px;
	}
	.card__breadcrumbsRent {
		font-size: 16px;
	}
}
